<a href="https://colab.research.google.com/github/misaelec/IBM_DataScienceTools/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science Tools and Ecosystem

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used data science libraries  
- Create tables in Markdown  
- Evaluate arithmetic expressions in Python  
- Convert units using Python code

## Author

Misael

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335